.DS_Store
*.swp
*~.nib

# derived data
*.pbxuser
*.perspective
*.perspectivev3

# user specific XCode data
xcuserdata

# don't track generated localized nibs
*.lproj/*.xib
# but do track the master language
!en.lproj/*.xib
.idea

# Cocoapods
Pods/*
